#microphone-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #f6f6f6;
}

.outer-button-container > #microphone-button {
  padding-bottom: 1px;
}

.inner-button-container:has(#microphone-button) {
  position: absolute;
  gap: 5px;
  right: 3px;
  bottom: 1px;
  flex-direction: row-reverse;
}

#microphone-icon {
  pointer-events: none;
}

.default-microphone-icon {
  filter: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(924%) hue-rotate(46deg) brightness(95%) contrast(99%);
}

.active-microphone-icon {
  filter: brightness(0) saturate(100%) invert(10%) sepia(97%) saturate(7495%) hue-rotate(0deg) brightness(101%)
    contrast(107%);
  border-radius: 10px;
}

.command-microphone-icon {
  filter: brightness(0) saturate(100%) invert(42%) sepia(96%) saturate(1067%) hue-rotate(77deg) brightness(99%)
    contrast(102%);
}

.unsupported-microphone {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
