#messages {
  overflow: auto;
  scrollbar-color: #f6f6f6 transparent;
}

.outer-message-container:last-child {
  margin-bottom: 5px;
}

.inner-message-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: calc(97.5% - 24px);
  max-width: 100%;
}

.message-bubble {
  margin-top: 10px;
  word-wrap: break-word;
  width: fit-content;
  max-width: 60%;
  border-radius: 10px;
  padding: 0.42em 0.55em;
  height: fit-content;
  line-height: 1.26em;
}

.message-bubble h1,
.message-bubble h2,
.message-bubble h3,
.message-bubble h4,
.message-bubble h5,
.message-bubble h6 {
  line-height: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

.message-bubble h1:first-child,
.message-bubble h2:first-child,
.message-bubble h3:first-child,
.message-bubble h4:first-child,
.message-bubble h5:first-child,
.message-bubble h6:first-child {
  margin-top: 0;
}

.user-message-text {
  color: white;
  background-color: #0084ff;
  margin-right: 0px;
  margin-left: auto;
}

.ai-message-text {
  color: black;
  background-color: #e4e6eb;
  margin-left: 0px;
  margin-right: auto;
}
