#submit-icon {
  height: 100%;
  filter: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(924%) hue-rotate(46deg) brightness(95%) contrast(99%);
  width: 1.21em;
}

#stop-icon {
  background-color: #acacac;
  border-radius: 2px;
}

.submit-button-enlarged {
  scale: 1.1;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.loading-submit-button {
  filter: var(--chat-submit-icon-filter) !important;
  position: relative;
  left: calc(0em - 9990px - 0.7em);
  width: 0.28em;
  height: 0.28em;
  border-radius: 50%;
  background-color: #848484;
  color: #848484;
  box-shadow:
    9990px 0 0 0 #848484,
    calc(9990px + 0.7em) 0 0 0 #848484,
    calc(9990px + 1.4em) 0 0 0 #848484;
  animation: loading-submit-button 1.5s infinite linear;
}

@keyframes loading-submit-button {
  0% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.7em) 0 0 0 #848484,
      calc(9990px + 1.4em) 0 0 0 #848484;
  }
  16.667% {
    box-shadow:
      9990px -6px 0 0 #848484,
      calc(9990px + 0.7em) 0 0 0 #848484,
      calc(9990px + 1.4em) 0 0 0 #848484;
  }
  33.333% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.7em) 0 0 0 #848484,
      calc(9990px + 1.4em) 0 0 0 #848484;
  }
  50% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.7em) -6px 0 0 #848484,
      calc(9990px + 1.4em) 0 0 0 #848484;
  }
  66.667% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.7em) 0 0 0 #848484,
      calc(9990px + 1.4em) 0 0 0 #848484;
  }
  83.333% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.7em) 0 0 0 #848484,
      calc(9990px + 1.4em) -6px 0 0 #848484;
  }
  100% {
    box-shadow:
      9990px 0 0 0 #848484,
      calc(9990px + 0.7em) 0 0 0 #848484,
      calc(9990px + 1.4em) 0 0 0 #848484;
  }
}
